.sectionAbout{
  max-width: 1770px;
  margin: 0 auto;
  margin-bottom: 69px;
}
.info{
  margin-bottom: 50px;
}
.heading{
  margin-bottom: 20px;
  font-size: 48px;
  line-height: 58.51px;
  font-weight: 400;
  color:#333
}
.text{
  max-width: 1235px;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
}
.content{
  display: flex;
}
.bigCard{
  margin-right: 32px;
  display:flex;
  background-image: url(../img/about1.png);
  width: 50%;
  max-width: 868px;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.bigCard__text{
  display: flex;
  align-items: center;
  padding:50px;
  font-size: 16px;
  line-height: 32px;
  font-weight: 700;
  position: relative;
  width: 100%;
  height: auto;
  margin-left: 0px;
  margin-top: 426px;
  color: #FFFFFF;
  background: rgba(0, 0, 0, 0.5);
}
.bigCard__btn{
  margin-left: 18%;
  padding:3% 6%;
  border: 3px solid #ff9900;
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  color: #FFFFFF;
  background: transparent;
  cursor: pointer;
}
.bigCard__btn:hover{
  background-color: #ff9900;
}
.bigCard__btn:active{
  background-color: #e1670e;
}
.smallCards{
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: space-between;
}
.smallCard{
  display: flex;
  border: 1px solid #CACACA;
  background-repeat: no-repeat;
  background-position: 8.3% 48%;
  background-size: 22%;
  padding: 7.1% 11% 7.4% 6.8%;
}

.smallCard__image{
  margin-right: 6.8%;
  object-fit: contain;
}

.smallCard__heading{
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 8px;
}
.smallCard__text{
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
}

@media(max-width:1830px){
  .sectionAbout{
    margin: 0 10px;
  }
}
@media(max-width:1250px){
  
  .content{
    flex-direction: column;
  }
  .bigCard{
    width: 100%;
    margin-left: 0;
    max-width: 1250px;
    background-position:top;
  }
  .smallCards{
    width: 100%;
  }
  

}

@media(max-width:1034px){
  .sectionAbout{
    margin: 0 auto;
    max-width: 925px;
    margin-bottom: 17px;
  }
  .heading{
    margin-bottom: 9px;
  }
  .info{
    margin-bottom: 63px;
  }
  .bigCard{
    height: 640px;
    margin-bottom: 31px;
  }
  .bigCard__text{
    padding: 53px 51px;
    margin-top: 444px;
  }
  .bigCard__btn{
    margin-left: 19%;
  }
  .smallCard{
    margin-bottom: 32px;
    padding: 7.1% 14% 6.7% 8.31%
  }
}


@media(max-width:778px){
  .sectionAbout{
    max-width: 698px;
    margin-bottom: 16px;
  }
  .info{
    margin-bottom: 60px;
  }
  .bigCard{
    height: 650px;
  }
  .bigCard__text{
    padding: 0 39px;
    margin-top: 454px;
  }
  .bigCard__btn{
    margin-left: 10%;

  }
  .smallCard{
    min-height: 236px;
    padding: 5.2% 4% 5% 5.8%;
  }
  .smallCard__image{
    max-width: 19%;
    margin-right: 2.6%;
  }
}

@media(max-width:330px){
  .sectionAbout{
    margin-bottom: 21px;
  }
  .heading{
    font-size: 24px;
    line-height: 29.26px;
    margin-bottom: 19px;
  }
  .info{
    margin-bottom: 14px;
  }
  .text{
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
  }
  .bigCard{
    height: 200px;
    margin-bottom: 221px;
  }
  .bigCard__text{
    flex-direction: column;
    align-items: flex-start;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #333;
    background-color: transparent;
    margin-top: 0;
    margin-bottom: 20px;
    padding: 208px 0;
  }
  .bigCard__btn{
    font-size: 12px;
    line-height: 14.63px;
    margin: 10px 0 0 0;
    padding: 4% 14.6%;
    color: #ff9900;
    border: 2px solid #ff9900;
  }
  .smallCard{
    display: flex;
    flex-direction: column;
    padding: 0;
    border: none;
    margin-bottom: 23px;
  }
  .smallCard__heading{
    font-weight: 500;
    font-size: 18px;
    line-height: 21.94px;
    margin-bottom: 3px;
  }
  .smallCard__text{
    font-size: 14px;
    line-height: 28px;
  
  }
  .smallCard__image{
    max-width: 23%;
    margin-bottom: 5px;
    padding: 9px 0 0 0;
  }
}