.sectionFooter{
  display: flex;
  justify-content: space-between;
  padding: 50px 75px;
  background-color: #222;
}

/* left */

.left{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 132px;
}
.logo{
  margin-bottom: 20px;
  background-image: url(../img/Logo-footer.svg);
  background-repeat: no-repeat;
  width: 224px;
  height: 72px;
  cursor: pointer;
}
.navigation{
  margin-bottom: 90px;
  display: flex;
  flex-direction: column;
}
.navLink{
  display: inline;
  font-size: 18px;
  line-height: 36px;
  font-weight: 600;
  color:#CACACA;
  cursor: pointer;
  white-space: nowrap;
}
.navLink:hover{
  color:#ff9900;
}
.navLink:active{
  color: #E1670E;
}
.footer__social{
  display:flex;
}
.social{
  display: flex;
}
.socialLink{
  width: 60px;
  height: 60px;
  cursor: pointer;
}
.socialLink:not(:last-child){
  margin-right: 25px;
}
.socialLink:hover path{
  fill:#ff9900;
}
.socialLink:active path{
  fill: #E1670E
}

/* form */

.center{
  max-width: 570px;
}
.centerHeading{
  font-size: 48px;
  line-height: 58.51px;
  font-weight: 400;
  color: #CACACA;
  margin-bottom: 26px;
}
.field{
  margin-bottom: 25px;
  padding-left: 24px;
  padding-right: 22px;
  height: 60px;
  background-color: #414141;
  color: #FFFFFF;
  border: none;
}
.field::placeholder{
  justify-content: start;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color:#cacaca;
}
.field:hover{
  background-color: #666;
}

.message{
  margin-bottom: 30px;
  padding-top: 14px;
  height: 150px;
  resize:none;
}
.form{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}
.application{
  display: flex;
  align-items: center;
}
.btn{
  font-size: 16px;
  line-height: 1;
  font-weight: 700;
  padding: 21px 52px;
  margin-right: 22px;
  color: #fff;
  background-color: #ff9900;
  cursor: pointer;
}
.btn:hover{
  background-color: #F7B045;
}
.btn:active{
  background-color: #E1670E;
}
.check{
  margin-right: 2px;
  cursor: pointer;
}
.checkboxText{
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: #CACACA;
}

/* right */

.text{
  margin-left: 21px;
  max-width: 362px;
  padding-top: 88px;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  color: #CACACA;
}

@media(max-width:1290px){
  .left{
    margin-right: 25px;
  }
  .text{
    display: none;
  }
}

@media(max-width:830px){
  .sectionFooter{
    flex-direction: column-reverse;
  }
  .navigation{
    display: none;
  }
}

@media(max-width:330px){
  .centerHeading{
    font-size: 24px;
    line-height: 29.26px;
  }
  .sectionFooter{
    padding: 5px;
  }
  .application{
    flex-direction: column;
  }
  .field::placeholder{
    font-size: 14px;
  }
  .btn{
    font-size: 14px;
  }
}