.sectionHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1920px;
  padding: 14px 5.4%;
  background: #FFFFFF;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
}
.logo{
  position: relative;
  right:3px;
  width: 224px;
  height: 72px;
  cursor: pointer;
}
.navAndSearch{
  position: relative;
  display: flex;
  align-items: center;
}
.navigation{
  display: flex;
  align-items: center;
}
.navigationLink{
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  color:#333;
  margin-left:3.77vw;
  
}
.navigationLink:first-child{
  margin-left: 10px;
}

.navigationLink:hover{
  border-bottom: 2px solid #ff9900;
  cursor: pointer;
}
.navigationLink:active{
  color: #e1670e;
  border-bottom: 2px solid #e1670e;
}

.searchIcon{
  margin-left: 84px;
  width: 24px;
  height: 24px;
  background-color: transparent;
  cursor: pointer;
}
.searchIcon:hover path{
  stroke: #ff9900;
}.searchIcon:hover rect{
  fill: #ff9900;
}
.searchContainer{
  position:relative;
  
}
.searchField{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  padding: 16px 11px 17px 31px ;
  width: 539px;
  height: 61px;
  background-color: #FFFFFF;
  border-radius: 24px ;
  
  top: -110px;
  right: -55px;
  z-index: 1;
  transition: all .3s ease;
}
.searchIsActive{
  box-shadow: 0 0 20px 20px #CACACA ;
top:-30px
}
.searchInput{
  margin-right: 10px;
  padding: 5px;
  width: 80%;
  border:none;
  border-bottom: 1px solid #CACACA ;
}
.searchInput:focus-visible{
  outline: none;
}
.searchInput::placeholder{
  font-weight: 500;
  font-size: 18px;
  line-height: 21.94px;
}
.closeSearch{
  z-index: 2;
  cursor: pointer;
}
.closeSearch:hover rect{
  fill:#ff9900
}
.closeSearch:hover circle{
  stroke: #ff9900;
}
.closeSearch:active rect{
  fill:#000
}
.closeSearch:active circle{
  stroke: #000;
}


.sideMenu{
  width: 420px;
  max-width: 100vw;
  padding: 70px 106px 20px 60px;
  background-color: #FFFFFF;
  position: absolute;
  top:100px;
  left: -500px;
  z-index: 5;
  transition: all .3s ease;
}
.sideMenu.menuIsActive{
  left:0px
}

.sideMenu__link{
  font-weight: 700;
  font-size: 24px;
  line-height: 29.26px;
  margin-bottom: 60px;
  border-bottom: 2px solid transparent;
}
.sideMenu__link:hover{
  border-bottom: 2px solid #ff9900;
  cursor: pointer;
}
.sideMenuHamburger{
  cursor: pointer;
  display: none;
  width: 30px;
  height: 30px;
  transition: all .3s ease;
}
.sideMenuHamburger:hover rect{
  fill:#ff9900
}
.sideMenuHamburger:active rect{
  fill:#e1670e
}
.sideMenuX{
  display: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
  
}
.sideMenuX:hover path{
  fill:#ff9900
}
.sideMenuX:active path{
  fill:#e1670e
}

@media(max-width:1046px){
  .sectionHeader{
    height: 100px;
    padding: 25px 55px;
  }
  .navigation{
    display: none;
  }
  .sideMenu{
    display:block;
  }
  .sideMenuHamburger{
    display: block;
  }
  .sideMenuX{
    display: block;
  }
  .logo { 
    align-items: center;
    width:150px;
    height: 48px;
  }
  .searchIcon{
    margin-left: 0;
  }
  .searchField{
    width: 55vw;
  }
  .closeSearch{
    right:0;
    left:130%
  }
}

@media(max-width:778px){
  .sectionHeader{
    height: 69px;
    padding: 0 7%;
  }
  .sideMenu{
    width:67%;
    top: 69px;
    padding-top: 40px;
  }

  .searchField{
    right: -37px;
  }
}

@media(max-width:565px){
  .searchField{
    padding-left: 3vw;
    padding-right: 4.8vw;
    width: 100vw;
    height: 69px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    right: -7vw;
  }
  .searchIsActive{
    top: -35px;
  }
  .searchInput{
    margin-right: 0;
    padding: 5px 2.7% 5px;
    width:71%
  }
  .searchInput::placeholder{
    font-size: 16px;
    line-height: 19.5px;
  }
  .sideMenu__link{
    font-size: 16px;
    line-height: 16.5px;
    margin-bottom: 35px;
  }
}

@media(max-width:320px){
  .searchField{
    right: -4.4vw
  }
  .sectionHeader{
    padding: 0 4.6%;
  }
  .logo{
    width: 110px;
  }
}