.sectionHeader{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1920px;
  padding: 14px 5.4%;
  background: #FFFFFF;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
}
.logo{
  position: relative;
  right:3px;
  width: 224px;
  height: 72px;
  cursor: pointer;
}
.navAndSearch{
  display: flex;
  align-items: center;
}
.navigation{
  display: flex;
  align-items: center;
}
.navigationLink{
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  color:#333;
  margin-left:3.77vw;
}
.navigationLink:first-child{
  margin-left: 10px;
}

.navigationLink:hover{
  border-bottom: 2px solid #ff9900;
  cursor: pointer;
}
.navigationLink:active{
  color: #e1670e;
  border-bottom: 2px solid #e1670e;
}

.searchIcon{
  margin-left: 84px;
  width: 24px;
  height: 24px;
  background-color: transparent;
  cursor: pointer;
  z-index: 2;
}
.searchIcon:hover path{
  stroke: #ff9900;
}.searchIcon:hover rect{
  fill: #ff9900;
}
.searchContainer{
  position:fixed;
  top:0;
  right: 0;
  bottom: 0;
  left:0;
  
}
.searchField{
  position: absolute;
  padding: 16px 32px ;
  width: 539px;
  height: 60px;
  background-color: #FFFFFF;
  border-radius: 24px ;
  box-shadow: 0 0 20px 20px #CACACA ;
  top: 20px;
  right:0px;
  z-index: 1;
}
.searchInput{
  padding: 5px;
  width: 400px;
  border:none;
  border-bottom: 1px solid #CACACA ;
}
.searchInput:focus-visible{
  outline: none;
}
.searchInput::placeholder{
  font-weight: 500;
  font-size: 18px;
  line-height: 21.94px;
}
.closeSearch{
  position: absolute;
  top: 37px;
  right:31px;
  z-index: 2;
  cursor: pointer;
}
.closeSearch:hover rect{
  fill:#ff9900
}
.closeSearch:hover circle{
  stroke: #ff9900;
}
.closeSearch:active rect{
  fill:#000
}
.closeSearch:active circle{
  stroke: #000;
}


.sideMenu{
  display: none;
  width: 420px;
  max-width: 100vw;
  padding: 170px 106px 0 60px;
  background-color: #FFFFFF;
  position: absolute;
  top:100px;
  left: 0;
  z-index: 5;
}
.sideMenuLink{
  font-weight: 700;
  font-size: 24px;
  line-height: 29.26px;
  margin-bottom: 60px;
  border-bottom: 2px solid transparent;
}
.sideMenuLink:hover{
  border-bottom: 2px solid #ff9900;
  cursor: pointer;
}
.sideMenuHamburger{
  cursor: pointer;
  display: none;
  width: 30px;
  height: 30px;
}
.sideMenuHamburger:hover rect{
  fill:#ff9900
}
.sideMenuHamburger:active rect{
  fill:#e1670e
}
.sideMenuX{
  display: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
}
.sideMenuX:hover path{
  fill:#ff9900
}
.sideMenuX:active path{
  fill:#e1670e
}

@media(max-width:1046px){
  .sectionHeader{
    height: 100px;
    padding: 25px 55px;
  }
  .navigation{
    display: none;
  }
  .sideMenu{
    display:block;
  }
  .sideMenuHamburger{
    display: block;
  }
  .sideMenuX{
    display: block;
  }
  .logo { 
    align-items: center;
    width:150px;
    height: 48px;
  }
  .searchIcon{
    margin-left: 0;
  }
}

@media(max-width:778px){
  .sectionHeader{
    height: 69px;
    padding: 0 7%;
  }
  .sideMenu{
    top: 69px;
    padding-top: 40px;
  }

 
}

@media(max-width:542px){
  .searchField{
    max-width: 320px;
  }
}

@media(max-width:320px){
  .sectionHeader{
    padding: 0 4.6%;
  }
  .logo{
    width: 110px;
  }
}