.sectionHero{
  margin: 0 auto;
  margin-bottom: 65px;
  max-width: 1770px;
  min-height: 620px;
}
.info{
  padding-top: 100px;
  padding-left: 79px;
  max-width: 950px;
  position: absolute;
  z-index: 2;
}
.infoHeading{
  margin-bottom: 23px;
  font-size: 70px;
  line-height: 85px;
  font-weight: 800;
  color:#FFFFFF;
}
.infoText{
  margin-bottom: 90px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #FFFFFF;
}
.heroBtn{
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  padding:4% 6%;
  color:#FFFFFF;
  background-color: #ff9900;
  border:none;
  cursor: pointer;
}
.heroBtn:hover{
  background: rgba(255, 153, 0, 0.7);
}
.heroBtn:active{
  background: #e1670e;
}
.sliderImage{
  object-fit: cover;
  width: auto;
  height: 620px;
}

@media(max-width:1034px){
  .sectionHero{
    max-width: 924px;
    margin-bottom: 44px;
  }
  .info{
    padding-top: 160px;
    padding-left: 77px;
    max-width: 790px;
  }
  .infoHeading{
    margin-bottom: 16px;
    font-size: 60px;
    line-height: 73.14px;
    color:#FFFFFF;
  }
  .infoText{
    margin-bottom: 60px;
    font-size: 20px;
    line-height: 24.38px;
  }
  .sliderImage{
    height: 668px;
  }
}

@media(max-width:778px){
  .sectionHero{
    max-width: 698px;
    height: 662px;
    margin-bottom: 49px;
  }
  .info{
    padding: 161px 93px 0px 40px;
    margin-bottom: 60px;
  }
  .infoHeading{
    font-size: 50px;
    line-height: 60.95px;
  }
  .infoText{
    font-size: 18px;
    line-height: 21.94px;
    margin-bottom: 61px;
  }
  .sliderImage{
    height: 662px;
  }
}
@media(max-width:650px){
  .info{
    padding: 25px;
  }
  .sliderImage{
    height: 550px;
  }
}

@media(max-width:565px){
  .sectionHero{
    min-height: 300px;
    height: auto;
    margin-bottom: 40px;
  }
  .info{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 19% 11.5% 0% 7%;
    text-align: center;
  }
  .infoHeading{
    font-size: 20px;
    line-height: 24.38px;
    margin-bottom: 7px;
  }
  .infoText{
    font-size: 12px;
    line-height: 14.63px;
    margin-bottom: 33px;
  }
  .heroBtn{
    font-size: 12px;
    line-height: 14.63px;
    padding: 5% 11%;
  }
  .sliderImage{
    height: 308px;
  }
}