.sectionQuestions{
  max-width: 1770px;
  margin: 0 auto;
  margin-bottom: 100px;
}
.heading{
  margin-bottom: 43px;
  font-weight: 400;
  font-size: 48px;
  line-height: 58.51px;
}
.accordion{
  font-family: 'Montserrat', sans-serif;
}

.item{
  width:100%;
  
}

.title{
  border-top: 1px solid #CACACA;
  border-bottom: 1px solid #CACACA;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 29px;
  padding-bottom: 29px;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  
}
.title:hover{
  border-top: 1px solid #ff9900;
  border-bottom: 1px solid #ff9900;
  cursor: pointer;
  color:#ff9900;
}

.title:hover svg ellipse{
  fill:#ff9900
}
.title:hover svg path{
  fill: #fff
}

.content{
  max-width: 1003px;
  border:none; /*бордер текста*/
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.accordion__imgDisabled{
  rotate: 0;
  transition: all .3s ease;
}
.accordion__imgActive{
  rotate: 45deg;
  transition: all .3s ease;
}

@media(max-width:1830px){
  .sectionQuestions{
    margin: 0 10px;
  }
}

@media(max-width:1034px){
  .title{
    font-weight: 700;
    font-size: 20px;
  }
}

@media(max-width:330px){
  .heading{
    font-size: 24px;
    line-height: 29.26px;
  }
  .title{
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }
}